.profile {
  margin-bottom: 7px;
  font-family: "Montserrat", "Book Antiqua", Palatino, serif;
}

.lead {
  margin-top: 10px;
  line-height: 1.6;
}

.profiletitle {
  margin-bottom: 20px;
}

.personallinks {
  margin-top: 12px;
}


